
header {
	background-color: transparent;
	width: 200px;
	color: gray;
	font-style: italic;
	font-size: 24pt;
	margin-bottom: 5px;
	border-bottom: 1px solid grey;
	
}
body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#userProfile {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}

#SK{
	width: 150px;
	height: 150px;
	border-radius: 50%;	
	object-fit: cover;
	margin-bottom: 20px;
}

#userName {
	font-size: 20px;
	margin-bottom: 20px;
}
.changeBtn{
	width: 200px;
	border: none;
	background-color: transparent;	
	padding: 1px;
	padding-top: 10px;
	cursor: pointer;
	margin-bottom: 10px;
	color: grey;
	text-align: left;
}            
.input{
	width: 200px;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 1px;
	background-color: transparent;
	box-sizing: border-box;		
	margin-bottom: 10px;	
}

label {
	display:block;
	color: grey;
	text-align: left;
	font-size: 10pt;
}
#specs {	
	color: gray;
	font-size: 12pt;
}
footer {
	width: 200px;
}